@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

body {
	background: #545454;
}

.bubble-left {
	float: left;
	clear: both;
	/*background: #B7CC90;*/
	background: #fff;
}

.bubble-left:hover {
	/*background: #A9C07F;*/
	/*background: #f0f0f0;*/
	background: #EDF9FE;
}

.bubble-left:before {
	content: " ";
	display: block;
	position: relative;
	top: 2px;
	left: -8px;
	height: 8px;
	width: 8px;
	background: inherit; /*#B7CC90*/
	z-index: 5;

	-webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.bubble-right {
	float: right;
	clear: both;
	text-align: right;
	background: #90B2CC;;
}

.bubble-right:hover {
	background: #82A6C1;
}

.tweet-container {
	display: block;
	margin: auto;
	margin-top: 3%;
	height: 570px; /*Global Height of Widget*/
	width: 1000px; /*Global Width of Widget*/
	background: #E1E1E1;
	box-shadow: 0px 0px 50px #1E1E1E;
}

.tweet-north {
	width: 100%;
	height: 465px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.tweet-south {
	width: 100%;
	height: 105px;
	padding: 10px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.user-details {
	float: left;
	clear: left;
	width: 30%;
	height: 465px;
	overflow: hidden;
}

.tweet-user-list {
	list-style-type: none;
	width:100%;
	height: 365px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.tweet-user-list a {
	display: block;
	padding: 10px;
	height: 40px; /*Keep height same as img thumbnail height*/
	text-decoration: none;
	color: #313131;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.tweet-user-list a:hover {
	background: #BAD6E4; /*#9E9E9E*/

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.user-img{
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	background: #6A8BBA;
}

.user-title {
	margin-left: 5px;
}

.user-desc {
	padding-left: 5px;
	padding-top: 5px;
	font-size: 12px;
	color: #5A5A5A;
    white-space: nowrap;
	overflow: hidden;    
    text-overflow: ellipsis;
}

.tweet-user-list a.active {
	/*background: #BFBFBF;*/
	background: #BAD6E4;
}

.tweet-user-list a.highlight {
	background: #90B2CC;
}

.tweet-user-list a.highlight .user-title,
.tweet-user-list a.highlight .user-desc {
	font-weight: bold;
}
.search-follower input[type="text"] {
	width: 100%;	
	height: 30px;
	padding: 0 10px;
	color: #666;
	background: #f6f6f6;
	border: 1px solid #b9b9b9;
	border-top-color: #a4a4a4;
	box-shadow: 0 1px 1px rgba(0,0,0,.17) inset;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.search-follower input[type="text"]:focus {
	background: #FFF;
}

.tweet-thread {
	float: right;
	width: 70%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background: #D7D7D7;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 5px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.tweet {
	width:88%;
	margin: 7px 20px 7px 60px;
	padding: 0px 5px 3px 5px;
	cursor: pointer;
	position:relative;
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

.tweet img {
    left: -48px;
    position: absolute;
	top:0;
}

.tweet p {
	display: block;
	clear: both;
	margin:5px 3px;
	font-size: 13px;
}

 .tweet label {
	margin-top: -3px;
	font-size: 13px;
	font-weight: bold;
	color: #BDBDBD;
	cursor: pointer;
}

.tweet .tweet-user {
	display: block;
	float: left;
	margin-left: 3px;
	margin-bottom: 5px;
}

.tweet .tweet-user span a, p.tweet-text a{
	font-size:12px;
	color: #bdbdbd;
	text-decoration:none;
}

p.tweet-text a{
	font-size:12px;
	color: #7b7b7b;
	text-decoration:none;
}

.tweet-user span a:hover, p.tweet-text a:hover{
	text-decoration:none;
}

.tweet .tweet-timestamp {
	display: block;
	float: right;
	margin-right: 3px;
	text-align: right;
	font-size:11px!important;
}

textarea {
	width: 100%;
	height: 50px;
	padding: 7px 10px;

	outline: none;
	resize: none;
	font-size: 13px;
	color: #666;
	background: #f6f6f6;
	border: 1px solid #b9b9b9;
	border-top-color: #a4a4a4;
	box-shadow: 0 1px 1px rgba(0,0,0,.17) inset;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

textarea:focus {
	background: #FFF;
}

button{
	display: inline-block;
	float: right;
	margin-top: 0px;
	color: #FFFFFF;
	border: 1px solid #00ADEE;
	background: #00ADEE;
	cursor: pointer;
	padding:4px 7px;
}

button:hover {
	background: #0cb7f7;
}

button:active {
	background: #00a5e3;
	border-color: #00a5e3;	
}

button.cancel {
	background: #CA3838;
	margin-right:10px;
	border:1px solid #CA3838;
	}
button.cancel:hover {
	background: #dc4c4c;
	}
button.cancel:active {
	background: #c13131;
	border-color: #c13131;
}
#loading-overlay img {
	z-index: 100;
	margin-top:200px;
}

#loading-overlay {
	text-align: center;
	display: none;
	background:none;
	position: fixed;
	color: #FFF;
	z-index: 100;
	width:680px;
	height:495px;
}
.hidden {
	display: none;	
}	

.retweeted{
	color: #FF0000;
	}

.modal-body .links {
	display: none;	
}

.links a {
	text-decoration: none;
	margin-right: 10px;
	color: #2e52a4;
	padding-left: 15px;
}
.links a:hover{
	text-decoration: underline;
	}

.retweet {
	background: url(../images/retweet.png) no-repeat scroll 0 3px;	
}
.retweeted  {
	color: #86c440!important;
	background: url(../images/retweeted.png) no-repeat scroll 0 3px;
	
}
.retweeted:hover {
	text-decoration: underline;
}

.delete-tweet {
	background: url(../images/delete.png) no-repeat scroll 0 2px;	
}

.favorite {
	background: url(../images/favorite.png) no-repeat scroll 0 2px;	
}
.favorited  {
	color: #f9a31a!important;
	background: url(../images/favorited.png) no-repeat scroll 0 2px;
	
}
.favorited:hover {
	text-decoration: underline;
}

#notification {
	position: absolute;
	top: 60px;
	width: 100%;
	z-index: 50;
	display:none;
	}
#notification-msg {
	text-align: center;
	padding: 8px;
	font-size: 12px;
	color: #FFFFFF;
	background: #000000;
	opacity: 0.8;
	width: 500px;
	border-radius: 6px;
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
	margin:0 auto;
	
}
#download {
	float: left;
}

#download img {
	margin-right:5px;
}
#update-status img {
	margin-right:5px;
	}
.tweet-thread a {
	text-decoration: none;
	border-bottom:none;
}
.tweet-thread a:hover {
	text-decoration: none;
	border-bottom:1px solid;	
}

#chirp-user {
	padding: 15px 10px;
	/*background: #00adee;*/
	background: -webkit-linear-gradient(#00adee, #20bef9);
	background:    -moz-linear-gradient(#00adee, #20bef9);
	background:      -o-linear-gradient(#00adee, #20bef9);
	background:         linear-gradient(#00adee, #20bef9);
	height:40px;
	}
#chirp-user a {
	text-decoration: none;
	margin-right: 15px;
	color: #fff;
	padding: 2px 2px 2px 15px;
	line-height: 16px;
	
	}

#chirp-user	.user-title {
	color: #FFF!important;
	}
#chirp-user a:hover {
	text-decoration: none;
	border-bottom:1px solid #fff;
	color: #2E52A4!important;
	}
a#home {
	background: url(../images/home.png) scroll 0 5px no-repeat;	
}
a#home:hover {
	background: url(../images/home_1.png) scroll 0 5px no-repeat;	
}

a#my-tweets {
	background:url(../images/mytweets.png) scroll 0 4px no-repeat;	
}
a#my-tweets:hover {
	background:url(../images/mytweets_1.png) scroll 0 4px no-repeat;	
}

a#logout {
	background:url(../images/logout.png) scroll 0 6px no-repeat;	
}
a#logout:hover {
	background:url(../images/logout_1.png) scroll 0 6px no-repeat;	
}

#logo {
	text-align :center;
	margin-top:10px;
}

#logo a {
	text-decoration: none;
}

#logo a:hover {
	text-decoration: none;
}

#logo a img {
	width: 30px;
	height: 30px;	
	vertical-align: middle;
	margin-right:5px;
}
#logo a span {
	margin-top: 3px;	
	color: #f1e745;
	text-decoration: none;
	font-size:20px;	
}	
#count {
	text-align: right;
	}
#count span{
	color: #9e9e9e;
	margin-top: 5px;
	margin-right:5px;
	font-size: 12px;
	
	}